/* Google Font */
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
* {
    font-family: 'Work Sans', sans-serif;
}
.text-gray{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}
/* header Style */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
.nav-title{
    font-size: 2.8rem;
    font-weight: 700px;
    color: #131313 ;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 20px;
    font-weight: 500px;
    font-size: 1rem;

}
nav a{
    text-decoration: none;
    color: #424242;
}

/* Banner Style */
.banner-contant{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    color: #131313;
    font-size: 4rem;
    font-weight: 700;

}
.banner-description{
    color: #727272;
    font-weight: 400;
}
.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    border: 0;
}
.banner-img{
    margin-top: 20px;
    width: 100%;

}



/* <!-- Features Section Start--> */
/* Main Styles */
main{
    max-width: 1440px;
    margin: 0px auto;
}
.teams-container{
    padding-top: 50px;
    display: flex;
    align-items: center;
}
.teams-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem
}
.teams-text-container{  
    padding-left: 70px;
    padding-right: 60px;
}
.teams-title{
    font-size: 2.8rem;
    font-weight: 500
}



/* <!-- Features Section end--> */





/* Resposive Style */
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav,
    .teams-container {
        flex-direction: column;
    }
    .teams-image-container{
        grid-template-columns: 1fr
    }
    .teams-text-container{  
        padding-left: 20px;
        padding-right: 20px;
    }

}
@media screen and (min-width:576px) and (max-width: 960px) {
    header{
        padding: 50px;
    }
    nav ,
    .teams-container{
        flex-direction: column;
    }

}
